.question-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  /* justify-content: space-between; */
}
.question-wrapper p {
  margin: 0;
}

.edit-button-container {
  display: flex;
  margin-left: auto;
  /* align-items: center; */
}

.edit-button {
  height: 1.5rem;
  border: 1px solid;
}

.edit-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.edit-button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.edit-button-icon {
  width: 0.5rem;
}

.edit-question-container {
  width: 80%;
}
